header {
    background-color: var(--primary);
    padding: 1rem 0;
}

footer {
    background-color: var(--primary);
    padding: 1rem;
    width: 100%;    
}

h1{
    font-family: var(--Quintessentielle);
    font-size: 30px;

    @media screen and (min-width: 0px) and (max-width: 500px) {
        font-size: 22px;
    }
}

h2{
    font-family: var(--Quintessentielle);
    font-size: 22px;

    @media screen and (min-width: 0px) and (max-width: 500px) {
        font-size: 20px;
    }
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0rem;
}

a{
    text-decoration: none;
}
.btn{
    font-family: var(--Quintessentielle);
    font-size: 16px;
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    &:hover{
        background-color: var(--primary);
        border-color: var(--primary);
    }
}

.tittle-center {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.accordion-button {
    background-color: var(--accent-color);
    color: white;

    &:active {
        background-color: var(--primary);
        color: white;
    }

    &:hover {
        background-color: var(--primary);
        color: white;
    }
}

.navbar-toggler {
    padding: 0;
    position: absolute;
    right: 2rem;
    top: 1rem;
}