.carousel-item img {
  height: 700px; 
}

.interactive-image{
    transition: transform 0.3s ease; 

    &:hover {
        transform: scale(1.1); 
    }
}

.change-size{
    font-size: 20px;
}

.img-donnation{
    width: 700px;
    height: 500px;
    margin-left: 15rem;
    margin-bottom: 5rem;
}

footer{
  padding-left: 15%;
}