@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quintessential&display=swap');

:root {
  /* Couleurs */
  --text: #090b0a;
  --accent-color: #237794;
  --background: #fcfcfc;
  --primary: #c5c2c2;
  --error: #d62828;

  /* Polices */
  --Quintessentielle: 'Quintessential', sans-serif;
  --Lato: 'Lato', sans-serif;

  /* Variables Bootstrap personnalisées */
  --bs-primary: var(--primary);
  --bs-secondary: var(--text);
  --bs-success: green;
  --bs-danger: var(--error);
  --bs-warning: var(--error);
  --bs-light: white;
  --bs-dark: black;

  --bs-font-monospace: var(--Quintessentielle);
  --bs-font-sans-serif: var(--Lato);
}